/*
    Author: Myles Brown
    Date: 10-12-25
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Image rule */
img {
    max-width: 100%;
    display: block;
}

/* Box sizing */
* {
    box-sizing: border-box;
}

/* ========== MOBILE VIEWPORT ========== */

/* Hide tab-desk class */
.tab-desk {
    display: none;
}

/* Header */
header {
    text-align: center;
    font-size: 1.5em;
    color: #373684;
    font-family: "DM Serif Display", serif;
}

/* Main font */
main {
    font-family: "Roboto", sans-serif;
    padding: 2%;
    background-color: #e3e3e3;
    overflow: auto;
}

/* Navigation */
nav {
    background-color: #373684;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: block;
    border-top: 1px solid #5e5e5e;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Paragraphs */
main p {
    font-size: 1.25em;
}

/* Table Styles */
#rental table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #373684;
    border-collapse: collapse;
}

#rental caption {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#rental th, 
#rental td {
    border: 1px solid #373684;
    padding: 1%;
}

#rental th {
    background-color: #373684;
    color: #fff;
}

/* Mobile Style Rule for #rental */
@media screen and (max-width: 549px) {
    #rental table {
        width: 100%;
    }
}

/* ======= MOBILE NAVIGATION ======= */
.mobile-nav {
    display: none;
    background-color: #373684;
    text-align: center;
}

.mobile-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

.mobile-nav a:hover {
    background-color: #5e5e5e;
}

.menu-icon {
    display: block;
    font-size: 2em;
    color: #373684;
    text-align: right;
    padding: 0.5em 1em;
    background-color: #e5e5e5;
}

/* Style rules for form elements */
fieldset, input {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    margin-top: 3%;
}

form #submit {
    display: block;
    margin: 0 auto;
    background-color: #373684;
    color: #fff;
    padding: 3%;
    border: none;
    font-size: 1em;
}

/* ========== TABLET VIEWPORT ========== */
@media screen and (min-width: 550px) {
    .tab-desk { display: block; }
    .mobile { display: none; }
    .menu-icon { display: none; }

    nav li {
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
        padding: 0.25em 0.5em;
    }

    nav li:last-child {
        border-right: none;
    }

    #map {
        width: 500px;
        height: 450px;
    }

    form {
        width: 70%;
        margin: 0 auto;
    }

    .copyright {
        float: left;
        width: 65%;
    }

    .social {
        float: right;
        width: 25%;
    }
}

/* ========== DESKTOP VIEWPORT ========== */
@media screen and (min-width: 769px) {
    header {
        padding: 2% 0;
    }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #373684;
        background-color: #e5e5e5;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }
}

/* ========== PRINT STYLES ========== */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }

    nav, img {
        display: none;
    }
}

/* ====== Footer and Social ====== */
.social img {
    display: inline-block;
    padding: 4%;
}
