/*
    Author: Myles Brown
    Date: 10-12-25
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Image rule */
img {
    max-width: 100%;
    display: block;
}

/* Box sizing */
* {
    box-sizing: border-box;
}

/* Mobile Viewport */

/* Hide tab-desk class */
.tab-desk {
    display: none;
}

/* Header */
header {
    text-align: center;
    font-size: 1.5em;
    color: #373684;
    font-family: "DM Serif Display", serif;
}

/* Main font */
main {
    font-family: "Roboto", sans-serif;
    padding: 2%;
    background-color: #e3e3e3;
    overflow: auto;
}

/* Navigation */
nav {
    background-color: #373684;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: block;
    border-top: 1px solid #5e5e5e;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Paragraphs */
main p {
    font-size: 1.25em;
}

/* Table Styles */
#rental table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #373684;
    border-collapse: collapse;
}

#rental caption {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#rental th, #rental td {
    border: 1px solid #373684;
    padding: 1%;
}

#rental th {
    background-color: #373684;
    color: #fff;
}

/* Mobile Style Rule for #rental */
@media screen and (max-width: 549px) {
    /* Style rules for table */
    table {
        border: 1px solid #373684;
        border-collapse: collapse;
        width: 100%;
    }

    caption {
        font-weight: bold;
        font-size: 1.25em;
        margin: 1em;
    }

    th, td {
        border: 1px solid #373684;
        padding: 0.5em;
    }

    th {
        background-color: #373684;
        color: #fff;
    }
}

/* Style rules for form elements */
fieldset, input {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    margin-top: 3%;
}

form #submit {
    display: block;
    margin: 0 auto;
    background-color: #373684;
    color: #fff;
    padding: 3%;
    border: none;
    font-size: 1em;
}

/* Tablet Viewport */
@media screen and (min-width: 550px) {
    .tab-desk { display: block; }
    .mobile { display: none; }

    nav li {
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
        padding: 0.25em 0.5em;
    }

    nav li:last-child { border-right: none; }

    #map {
        width: 500px;
        height: 450px;
    }

    /* Tablet: form layout */
    form {
        width: 70%;
        margin: 0 auto;
    }
}

/* Desktop Viewport */
@media screen and (min-width: 769px) {
    header { padding: 2%; }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #373684;
        background-color: #e5e5e5;
    }

    /* Desktop: form grid layout */
    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }
}

/* Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}
